Router HTTP Method support for webDAV, calDAV, cardDAV

### Version

* vert.x core: 4.0.0
* vert.x web: 4.0.0

### Context

When defining routes by HTTP methods, the enumeration in [HttpMethod](https://vertx.io/docs/apidocs/io/vertx/core/http/HttpMethod.html) only lists the standard HTTP methods. Should and extension be used in a client, then HttpMethod.OTHER can be user in conjunction with setting the rawHTTPMethod. There's no such option in the router. The following RFC define additional HTTP keywords:

- [RFC 2518](https://tools.ietf.org/html/rfc2518): `PROPFIND`, `PROPPATCH`, `MKCOL`, `COPY`, `MOVE`, `LOCK`, `UNLOCK`, `CHECKOUT`, `CHECKIN`, `REPORT`, `MERGE`, `MKACTIVITY`,`MKWORKSPACE`,`VERSION-CONTROL`,`BASELINE-CONTROL`
- [RFC 4918](https://tools.ietf.org/html/rfc4918)
- [RFC 3744](https://tools.ietf.org/html/rfc3744)
- [RFC 4791](https://tools.ietf.org/html/rfc4791): `MKCALENDAR`

HttpMethod needs additional collection members.


We can create a new enum extending core and adding these values. And use the local one internally instead.

Maybe we can do like this: https://github.com/vert-x3/vertx-web/pull/1302

That's also an option, i'm just not sure how the current route matching will work on this case. I think we will need to stop using enums internally and use Strings, which add the complexity of comparing.

Perhaps this is negligible but a point to check.

In which project is that enum located? Happy to provide a pull request

It's nowhere yet. It could be in vertx web. So the route interface could accept it instead of the core one 

@Stwissel could you see if the PR solves your use case? I've a upstream PR on master https://github.com/eclipse-vertx/vert.x/pull/3231 but it will require agreement from more people than just me. Perhaps you could weight in and explain what that would be helpful.

Either way both PR complement each other, if the one on core gets merged all dav commands should be available but with this PR you could even map the microsoft specific ones that are not listed on any RFC for example.

Highly appreciate your help here. SUpport for *exotic* http keywords allows to build calendar servers (using calDAV) or file sharing servers (using webDAV). Especially the LOCK, RELOCK, UNLOCK keywords allow file interaction without running the risk of overwriting each others work or failing to notice that a document opened from web ends in the temp folder.
I tested webDAV and it allows round-trip edits with Open/Libre Office as well as MS-Office. 