RFC 6265 states only one Cookie header is allowed

### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

[RFC 6265, Section 5.4](https://tools.ietf.org/html/rfc6265#section-5.4) states:

> When the user agent generates an HTTP request, the user agent MUST NOT attach more than one Cookie header field.

However, [`SessionAwareInterceptor`](https://github.com/vert-x3/vertx-web/blob/3.7.0/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/SessionAwareInterceptor.java#L58) is coded in such a way that multiple Cookie headers will be added when multiple cookies are present.

As far as I know, a lot of servers accept multiple Cookie headers, but there are some that don't work with it properly, including the one my team is working with right now. Originally I thought it was a bug with this particular server (there have been others), but apparently the RFC states that only one Cookie header is allowed.

### Do you have a reproducer?

Not yet, but I am willing to implement a test and fix for this issue. I just wanted to make sure that we agree that it _is_ an issue and fixing in Vert.x Web is the right solution.

Thanks for maintaining Vert.x Web and adding the session mechanism! We really appreciate it!

### Steps to reproduce

See above

### Extra

See above

It's also worth noting that [HTTP/2 allows multiple Cookie headers](https://tools.ietf.org/html/rfc7540#section-8.1.2.5). I have created this issue specifically for HTTP/1.1.

I understand the case, but i'm not sure how to fix this, if we enforce the policy (which is what we should to be spec compliant) we are taking the risk of breaking lots of apps who use multiple cookies and I can imagine, a cookie for session and another cookie for CSRF requests... Maybe a configuration flag? that will enable strict RFC mode?

if HTTP/1.1 then just 1 cookie, which one? the first? should it fail if there are multiple?

@pmlopes Ah, I was unclear — we can still support multiple cookies! It is possible to encode multiple cookies in one header. Netty already supports encoding this format, and all HTTP/1.1 servers should support receiving this format. [Here is what the RFC has to say about the syntax](https://tools.ietf.org/html/rfc6265#section-4.2.1).

Here is an example that I just copied from my network traffic from GitHub where my browser sent multiple cookies in one header:
> Cookie: logged_in=yes; _ga=GA1.2.13343297514.1471893734; dotcom_user=seanfisk

In terms of the code, it is nearly as simple as changing
```java
for (Cookie c : cookies) {
  request.headers().add("cookie", ClientCookieEncoder.STRICT.encode(c));
}
```
to
```java
if (cookies.iterator().hasNext()) { // Only add the header if there are cookies
    request.headers().add("cookie", ClientCookieEncoder.STRICT.encode(cookies));
}
```
I am willing to make these changes and implement a test; I just wanted to make sure we were on the same page about the proposed changes and agreed that there is an issue that needs fixing.

I think this would be good, please make a pull request!

@pmlopes Thank you; will do!

Funny enough, I just ran into this using the server-side CookieHandler, which [only looks at one cookie header](https://github.com/vert-x3/vertx-web/blob/3.7.1/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CookieHandlerImpl.java#L46). Unless I'm mistaken, this means that the Vert.x web client can't send multiple cookies to the Vert.x web server.

web-client already encoded all cookies in a single header.